<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <span><h1>Ajouter Administrateur</h1></span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close btnClose" mat-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <br>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>

        <mat-panel-title>
          <mat-icon class="mat-icon">account_circle</mat-icon>
          Information Générale
        </mat-panel-title>

      </mat-expansion-panel-header>
      <form (ngSubmit)="onsubmit()" [formGroup]="formGroup" >
        <div class="row register-form" >
          <div class="col-md-5">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input [formControl]="Login" matInput placeholder="Login" [(ngModel)]="a.login">
              <mat-error *ngIf="Login&&Login.hasError('required')"> Login est Obligatoire</mat-error>
            </mat-form-field><br>
            <mat-form-field>
              <input [formControl]="Nom" matInput placeholder="Saisir Votre Nom" [(ngModel)]="a.nom">
              <mat-error>ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [formControl]="Prenom" matInput placeholder="Saisir Votre Prénom" [(ngModel)]="a.prenom">
              <mat-error>ce champ est obligatoire</mat-error>
            </mat-form-field>  <br>
            <mat-form-field>
              <input [formControl]="Tel" matInput placeholder="Téléphone" [(ngModel)]="a.tel">
              <mat-error *ngIf="Tel.hasError('pattern')">Numéro Téléphone est incorrecte</mat-error>
              <mat-error *ngIf="Tel.hasError('required')">ce champ est obligatoire</mat-error>

            </mat-form-field>

            <mat-form-field>
              <input [formControl]="Email" matInput placeholder="Saisir Votre Email" [(ngModel)]="a.email">
              <mat-error>Verifier votre adresse email</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

          <mat-icon>account_box</mat-icon>
          &nbsp;Accès
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <form (ngSubmit)="onsubmit()" [formGroup]="formGroup" >
        <div class="row register-form" >
          <div class="col-md-5">

            <mat-form-field>
              <mat-select [formControl]="Gouvernorat" (selectionChange)="changevilleByGovNom(Gouvernorat.value)" placeholder="Gouvernorat">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let gov of listGouvernorat | async">
                  <mat-option value="{{gov.nom}}" >{{gov.nom}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Selectionner une gouvernorat</mat-error>
            </mat-form-field>


            <mat-form-field>
              <mat-select [formControl]="Ville" [(ngModel)]="selectedValue" placeholder="Ville">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let ville of listville | async"  >
                  <mat-option value="{{ville.nom}}" [value]="ville">{{ville.nom}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Selectionner une ville</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input  [type]="hide ? 'password' : 'text'" [formControl]="Password" matInput placeholder="Mot de passe" [(ngModel)]="a.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

              <mat-error *ngIf="Password&&Password.hasError('required')">ce champ est obligatoire</mat-error>
              <mat-error *ngIf="Password&&Password.hasError('minlength')">Mot de passe doit etre > 8 caractère</mat-error>
              <mat-error *ngIf="Password&&Password.hasError('maxlength')">Mot de passe doit etre < 30 caractère</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input  [type]="hidec ? 'password' : 'text'" [formControl]="ConfirmPassword" matInput placeholder="Confirmer Mot de passe" >
              <button mat-icon-button matSuffix (click)="hidec = !hidec" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidec">
                <mat-icon>{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="ConfirmPassword&&ConfirmPassword.hasError('required')">ce champ est obligatoire</mat-error>
              <mat-error  *ngIf="ConfirmPassword&&ConfirmPassword.hasError('passwordMismatch')">Mot de Passe Incorrect</mat-error>
            </mat-form-field>

          </div>
        </div>




        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Valider</button>
          <button mat-raised-button color="warn" (click)="onClear()">Reset</button>
        </div>    </form>
    </mat-expansion-panel>
  </mat-accordion>


</div>
